@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,700|Raleway:400,100,300,700,500");

body {
  background-color: #111924;
  font-family: 'Poppins', 'PT Sans','Lora', serif;
  font-size: 19px;
  color: #778ca3;
  margin: 0 !important;
}

h1 {
  margin-top: -2px;
  font-family: 'Reenie Beanie','Montserrat', sans-serif;
  font-size: 45px;
  color: #f05c80;
}

h2 {
  font-size: 15.5px;
  font-weight: 200;
  margin-top: -7px;
}

h3 {
  color: #f05c80;
  text-shadow: 2px 2px 5px #E91E63;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.container {
  margin: 2rem auto;
  padding: 0 11%;
}
/*////////////////// Profile Card ///////////////////////*/
.img-card {
  text-align: center;
  background: #1a232d;
  padding: 3rem 0rem;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.35);
}

#font-16, .fa-envelope {
  font-size: 16px;
}
 .card {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.35);
  background: #1a232d;
  margin: 0 auto;
  border-bottom-radius: 3px;
  text-align: center;
  list-style: none;
  padding: 10px;
  border-top: double;
 }

.img-circle {
  border-radius: 50%;
}

u {
  color: #8f3243;
}
/*////////////////// Projects //////////////////////*/
.projects {
  margin: -10px -10px 16px -10px;
  padding: 15px;
}

.link-projects {
  color: #3dbffe;
  text-shadow: 2px 2px 5px #3F51B5;
  font-weight: 600;
  font-family: "Poppins";
}
.link-projects:hover {
  color: #6ceeff;
}

p {
  padding: 0 10%;
  margin-bottom: 4rem;
  text-align: initial;
}
p > a{
  text-decoration: underline;
  text-decoration-color: #0785ea;
}

a {
  text-decoration: none;
  color: #b3d8ff;
}

a:hover {
  opacity: 0.7;
}

/*//////////////  LISTS  ///////////////////////*/
ul.list-inline {
  list-style: none;
  padding: 0px;
}

.list-inline > li {
  display: inline;
  margin: 0 6px;
}

.list-inline i {
  color: #39485a;
  font-size: 40px;
}
.list-inline i:hover {
  transition: 1s;
}
/*////////////// FOOTER ///////////////////////*/
.footer {
  background-color: #00000069;
  color: #FAFAFA;
  padding: 12px 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 14px;
}

.footer-links a:hover {
  opacity: 1;
  transition: 1s;
}

.footer .fa-heart {
  color: #3dbffe;
  text-shadow: 2px 2px 5px #3F51B5;
  padding: 0 14px;
}


@media only screen and (max-width: 600px) {
  .container {
    margin: 0rem auto;
    padding: 0 3%;
  }
  p {
    font-size: 15px;
  }
  #font-16 {
    font-size: 9.5px;
  }
  .fa-envelope {
    font-size: 10px;
  }
}
